@import url("https://fonts.googleapis.com/css?family=IM+Fell+English+SC&display=swap");
@import url("https://fonts.googleapis.com/css?family=Indie+Flower&display=swap");
@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background: url("./assets/paint.jpg");
  background-size: cover;
}
.main {
  height: 100%;
  width: 100%;
  margin: auto;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
}
.title {
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: auto;
}
.title-name {
  color: #ffffff;
  font-size: 50px;
  font-family: "IM Fell English SC", serif;
}
.title-name h1,
h3 {
  margin: 0 auto;
}
.subtext {
  font-size: 16px;
  font-family: "Raleway", sans-serif;
}
.icons {
  margin: 20px auto;
}
.icons i {
  margin: 0 10px;
  color: white;
}
