@import url("https://fonts.googleapis.com/css?family=IM+Fell+English+SC&display=swap");
@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");
html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  background: url("./assets/paint.jpg") no-repeat;
  background-size: cover;
}
.main {
  height: 100%;
  width: 100%;
  margin: auto;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
}
.title {
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: auto;
}
.title-name {
  color: #ffffff;
  font-size: 50px;
  font-family: "IM Fell English SC", serif;
}
.title-name h1,
h3 {
  margin: 0 auto;
}
.subtext {
  font-size: 16px;
  font-family: "Raleway", sans-serif;
}
.icons {
  margin: 20px auto;
}
.icons i {
  margin: 0 10px;
  color: white;
  cursor: pointer;
}
.icons i:hover {
  color: rgb(88, 112, 254);
}
.top-nav {
  position: absolute;
  width: 100%;
}
.navbar {
  display: flex;
  justify-content: flex-end;
  margin-right: 40px;
}
.links-ul {
  display: flex;
}
.link {
  margin: 50px 35px;
  list-style: none;
  padding: 10px;
  background-color: transparent;
  border-radius: 20px;
}
.link:hover {
  background-color: rgb(88, 112, 254);
}
.link a {
  color: white;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
}

.toggle-button {
  position: absolute;
  top: 35px;
  right: 35px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 20px;
  z-index: 3;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

/* Media Queries */
@media only screen and (max-width: 450px) {
  #name-title {
    font-size: 100%;
  }
  .toggle-button {
    display: flex;
  }
  .links {
    display: none;
    width: 100%;
  }
  .links.active {
    display: flex;
    position: absolute;
    top: -10px;
  }
  .links ul {
    flex-direction: column;
    width: 100%;
    margin: 80px auto 0;
    padding: 0;
  }
  .links li {
    text-align: center;
    margin: 10px auto;
  }
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }
}
